<div id="all-content">
    <app-header></app-header>
    <div id="tabs-and-form">
        <div id="tabs">
            <div class="tab" [class.tab-active]="showArrivals" (click)="showArrivals = true">
                <h3>ARRIVALS</h3>
            </div>
            <div class="tab" [class.tab-active]="!showArrivals" (click)="showArrivals = false">
                <h3>DEPARTURES</h3>
            </div>
        </div>
        <div id="filter-form">
            <input #keyword type="text" (keyup.enter)="filterFlights(keyword.value)" placeholder="Search by airline, flight no., city, or status." />
            <div id="button-group">
                <button id="reset-button" (click)="resetFlights()">Reset</button>
                <button id="submit-button" (click)="filterFlights(keyword.value)">Get Flights</button>
            </div>
        </div>
    </div>
    <div id="board">
        <app-board *ngIf="showArrivals" [flights]="filteredArrivals" [type]="arrivalText"></app-board>
        <app-board *ngIf="!showArrivals" [flights]="filteredDepartures" [type]="departureText"></app-board>
    </div>
</div>