<div id="all-content">
    <!-- TODO: Insert header component -->
    <div id="tabs-and-form">
        <div id="tabs">
            <div class="tab">
                <h3>ARRIVALS</h3>
            </div>
            <div class="tab">
                <h3>DEPARTURES</h3>
            </div>
        </div>
        <div id="filter-form">
            <input type="text" placeholder="Search by airline, flight no., city, or status." />
            <div id="button-group">
                <button id="reset-button">Reset</button>
                <button id="submit-button">Get Flights</button>
            </div>
        </div>
    </div>
    <div id="board">
        <!-- TODO: Insert two instances of the board component -->
    </div>
</div>